@import "../common/styles/variables";

& {
    dp-calendar-nav {
        @navHeight: 35px;

        .dp-calendar-nav-container {
            position: relative;
            box-sizing: border-box;
            height: @navHeight;
            border-bottom: 1px solid #e0e0e0 !important;
        }

        .dp-showtime {
            position: absolute;
            top: 0;
            right: 70px;
            padding: 7px;
            cursor: pointer;
        }

        .dp-nav-date-btn {
            box-sizing: border-box;
            height: 25px;
            border: 1px solid @c-black;
            border-bottom: none;
        }

        .dp-nav-btns-container {
            display: block;
            direction: ltr;
        }

        .dp-calendar-nav-container-left,
        .dp-calendar-nav-container-right {
            display: inline-block;
        }

        .dp-calendar-nav-container-right {
            float: right;
        }
        
        .dp-calendar-nav-left,
        .dp-calendar-nav-right,
        .dp-calendar-secondary-nav-left,
        .dp-calendar-secondary-nav-right {
            position: relative;
            cursor: pointer;
        }

        .dp-calendar-nav-left,
        .dp-calendar-nav-right {
            line-height: 0;
            .arrow(45deg);
        }

        .dp-calendar-secondary-nav-left,
        .dp-calendar-secondary-nav-right {
            .double-arrow(45deg);
            padding: 0;
        }

        .dp-calendar-nav-left {
            .arrow(-135deg);
        }

        .dp-calendar-secondary-nav-left {
            .double-arrow(-135deg);
        }

        .dp-nav-header {
            width: 70%;
            margin: auto;
            > div {
                text-align: center;
            }
        }

        .dp-nav-header-btn {
            cursor: pointer;
        }

        &.dp-material {
            .dp-calendar-nav-container {
                height: @navHeight;
                display: flex;
                flex-direction: row-reverse;
                border-bottom: 1px solid #e0e0e0 !important;
                &.has-secondary-left {
                    .dp-nav-header {
                        width: 50%;
                        // .dp-nav-header-btn { font-size: 11px; }
                    }
                }
            }

            .dp-calendar-nav-container-left,
            .dp-calendar-nav-container-right {
                font-size: 0;
            }

            .dp-calendar-nav-left,
            .dp-calendar-nav-right,
            .dp-calendar-secondary-nav-left,
            .dp-calendar-secondary-nav-right {
                border: none;
                background: @c-white;
                outline: none;
                font-size: 16px;
                padding: 0;
                line-height: 35px;
                width: 35px;
                transition: background-color .4s cubic-bezier(0.075, 0.82, 0.165, 1);
                &:hover {
                    background-color: #eee;
                }
            }

            .dp-calendar-secondary-nav-left:after { margin-right: -2px; }
            .dp-calendar-secondary-nav-right:after { margin-right: 2px; }

            .dp-calendar-nav-left:before { margin-right: -3px; }
            .dp-calendar-nav-right:before { margin-right: 3px; }

            .dp-nav-header-btn {
                border: none;
                background: @c-white;
                outline: none;
                position: relative;
                height: 34px;
                font-size: 14px;
                width: 100%;
                padding: 7px;
                transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);

                &:before {
                    content: '';
                    height: 6px;
                    width: 6px;
                    display: inline-block;
                    margin-right: 10px;
                    border-color: #e0e0e0;
                    border-style: solid;
                    vertical-align: middle;
                    border-width: 2px 2px 0 0;
                    transform: rotate(-45deg);
                    transition: transform .5s ease;
                }

                &:hover {
                    background: fade(@c-black, 5);
                }

                &:active {
                    background: fade(@c-black, 10);
                }
            }
        }
    }
}
