<div [ngClass]="{'dp-open': areCalendarsShown}">
    <div class="dp-input-container"
        [hidden]="componentConfig.hideInputContainer"
        [attr.data-hidden]="componentConfig.hideInputContainer">
        <input type="text"
            class="dp-picker-input"
            [placeholder]="placeholder"
            [ngModel]="inputElementValue"
            (ngModelChange)="onViewDateChange($event)"
            (focus)="inputFocused()"
            [readonly]="componentConfig.disableKeypress"
            [disabled]="disabled"/>
    </div>
    <div #container>
        <div class="dp-popup {{theme}}"
            [hidden]="!_areCalendarsShown"
            [attr.data-hidden]="!_areCalendarsShown">
            <dp-day-calendar
                #dayCalendar
                *ngIf="mode === 'day'"
                [config]="dayCalendarConfig"
                [ngModel]="_selected"
                [displayDate]="displayDate"
                [theme]="theme"
                (onSelect)="dateSelected($event, 'day', true)"
                (onGoToCurrent)="onGoToCurrent.emit($event)"
                (onSwitchLocale)="switchLocale($event)"
                (onTimeView)="onTimeView.emit($event)"
                (onLeftNav)="onLeftNavClick($event)"
                (onRightNav)="onRightNavClick($event)"
                (onLeftSecondaryNav)="onLeftSecondaryNavClick($event)"
                (onRightSecondaryNav)="onRightSecondaryNavClick($event)"
                (onMonthSelect)="dateSelected($event, 'month', true)"
                (onTimeChange)="dateSelected($event, 'second', true)"
                >
            </dp-day-calendar>
        </div>
    </div>
</div>
